In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.1.5'

#### Welcome to the bootcamp!

In [4]:
# Example of a numpy array, which is similar to a Python list

a_py = [10, 20, 40, 23, 123, 1233]

In [9]:
type(a_py)
a_py

[10, 20, 40, 23, 123, 1233]

In [6]:
# To convert this to a numpy array, we use the array constructor
b_np = np.array([10, 20, 40, 23, 123, 1233])

In [8]:
# We see that this is now a numpy array
type(b_np)
b_np

array([  10,   20,   40,   23,  123, 1233])

In [10]:
# Let's try applying an operation on a list. Here, we construct a new list by multiplying all of the numbers in the list a_py by 10
arr = []

for i in a_py:
  arr.append(i * 10)

arr

[100, 200, 400, 230, 1230, 12330]

In [11]:
# Now we'll use arrays in Numpy instead. Here, we can do a similar operation by multiplying the entire array by a value, instead of having to use list iteration techniques
# This is so much easier
b_np * 10

array([  100,   200,   400,   230,  1230, 12330])

In [12]:
# Illustration of Numpy trade-off
c_np = np.array([1, 2, 3])
c_np

array([1, 2, 3])

In [13]:
# Numpy stores this as 64-bit integers. Each number is stored as a 64-bit integer in a contiguous block of memory
c_np.dtype

dtype('int64')

In [14]:
# What happens if we change one of the values to a floating point? 
c_np = np.array([1, 2.0, 3])
c_np

array([1., 2., 3.])

In [15]:
# Numpy forces everything to a floating point variable, known as implicit upcasting
c_np.dtype

dtype('float64')