# Section 5: DataFrames in Depth

In [ ]:
import numpy as np
import pandas as pd

## Introducting a New Dataset - Soccer

In this section we will be working with a Dataframe containing English Premier League soccer players. There are over 400 players and 17 attributes!

In [ ]:
data_url = 'https://andybek.com/pandas-soccer'

Read in the data

In [ ]:
players = pd.read_csv(data_url)

Let's take a look at the Dataframe info. Looks like we have quite a few numeric columns as well as object columns.

In [ ]:
players.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Columns: 17 entries, name to new_signing
dtypes: float64(2), int64(10), object(5)
memory usage: 190.7 KB

We can take a higher level look at this using the `dtypes` attribute and calling the `value_counts()` method.

In [ ]:
players.dtypes.value_counts()

int64      10
object      5
float64     2
dtype: int64

Take one last peek at the DataFrame structure to ensure we're ready to go.

In [ ]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

## Quick Review - Indexing with boolean Masks

Recall the general approach for boolean indexing:
1. Generate a sequence of booleans ("Trues" and "Falses")
2. Use that boolean sequence with either square brackets [ ] or `.loc[]` to make the selection.

Say we're interested in learning which players have a market value exceeding 40 million dollars. We start by using the attribute accessor or selection brackets with a comparison operators to create the boolean sequence.

In [ ]:
players["market_value"] > 40

0       True
1       True
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

Now to select just the players with market value over 40 million, simply pass this expression into a set of selection brackets for the DataFrame itself

In [ ]:
players[players["market_value"] > 40]

                  name               club  age  ... club_id  big_club  new_signing
0       Alexis Sanchez            Arsenal   28  ...       1         1            0
1           Mesut Ozil            Arsenal   28  ...       1         1            0
96         Eden Hazard            Chelsea   26  ...       5         1            0
97         Diego Costa            Chelsea   28  ...       5         1            0
108     N%27Golo Kante            Chelsea   26  ...       5         1            1
218  Philippe Coutinho          Liverpool   25  ...      10         1            0
244    Kevin De Bruyne    Manchester+City   26  ...      11         1            0
245      Sergio Aguero    Manchester+City   29  ...      11         1            0
246    Raheem Sterling    Manchester+City   22  ...      11         1            0
264      Romelu Lukaku  Manchester+United   24  ...      12         1            0
267         Paul Pogba  Manchester+United   24  ...      12         1            1
380          Dele Alli          Tottenham   21  ...      17         1            0
381         Harry Kane          Tottenham   23  ...      17         1            0

[13 rows x 17 columns]

Indeed, there are 13 players who meet this criteria.

In [ ]:
players[players["market_value"] > 40].shape

(13, 17)

## More Approaches to Boolean Masking: `isin()`, `lt()`, `between()`

Say we're interested in looking at just the *Defenders* (soccer position) in the DataFrame. Defenders, or backs, can be left, center, or right. Let's see what the position codes are in our DataFrame by examining the `position` column and using the `unique()` method.

In [ ]:
players['position'].unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

Out of those, we are interested in the defenders: LB, CB, and RB. Thus, we want to extract lines from our DataFrame on the condition that they are one of these three positions. This is a great use case for the *`isin()` method, which is used to create a boolean series that indicates whether that particular entry is in the list of values passed in.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html

In [ ]:
players['position'].isin(['LB', 'CB', 'RB'])

0      False
1      False
2      False
3      False
4       True
       ...
460    False
461     True
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

We can now apply the boolean mask to the DataFrame using `loc[]` to select just the Defenders. We see that 157 players in this list are defenders.

In [ ]:
players.loc[players['position'].isin(['LB', 'CB', 'RB'])]

                  name      club  age  ... club_id  big_club  new_signing
4    Laurent Koscielny   Arsenal   31  ...       1         1            0
5      Hector Bellerin   Arsenal   22  ...       1         1            0
7        Nacho Monreal   Arsenal   31  ...       1         1            0
8     Shkodran Mustafi   Arsenal   25  ...       1         1            1
17    Gabriel Paulista   Arsenal   26  ...       1         1            0
..                 ...       ...  ...  ...     ...       ...          ...
455    Aaron Cresswell  West+Ham   27  ...      20         0            0
458     Angelo Ogbonna  West+Ham   29  ...      20         0            0
459     Pablo Zabaleta  West+Ham   32  ...      20         0            0
461     Arthur Masuaku  West+Ham   23  ...      20         0            1
462          Sam Byram  West+Ham   23  ...      20         0            0

[154 rows x 17 columns]

Let's look at ranges of values. We can use the familiar `between()` method for this.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.between.html
* Remember that by default, the edge values are inclusive. This can be changed using the `inclusive` parameter

Let's assess players that are between market values of 40 and 50 million dollars.

In [ ]:
players.market_value.between(40, 50, inclusive = False)

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

As before, we can now apply this boolean mask to the original DataFrame. it appears there are only three players swith a market value of above 40 million but below 50 million

In [ ]:
players[players.market_value.between(40, 50, inclusive = False)]

                  name             club  age  ... club_id  big_club  new_signing
218  Philippe Coutinho        Liverpool   25  ...      10         1            0
246    Raheem Sterling  Manchester+City   22  ...      11         1            0
380          Dele Alli        Tottenham   21  ...      17         1            0

[3 rows x 17 columns]

If the edge values are inclusive, we see that the number of players is substantially higher.

In [ ]:
players[players.market_value.between(40, 50, inclusive = True)]

                    name               club  ...  big_club new_signing
1             Mesut Ozil            Arsenal  ...         1           0
31   Alexandre Lacazette            Arsenal  ...         1           0
97           Diego Costa            Chelsea  ...         1           0
102     Thibaut Courtois            Chelsea  ...         1           0
108       N%27Golo Kante            Chelsea  ...         1           1
218    Philippe Coutinho          Liverpool  ...         1           0
219           Sadio Mane          Liverpool  ...         1           1
246      Raheem Sterling    Manchester+City  ...         1           0
263       Bernardo Silva    Manchester+City  ...         1           0
264        Romelu Lukaku  Manchester+United  ...         1           0
265         David de Gea  Manchester+United  ...         1           0
380            Dele Alli          Tottenham  ...         1           0
382    Christian Eriksen          Tottenham  ...         1           0

[13 rows x 17 columns]

How else can we create boolean Series on the fly? One way is to use old-fashioned comparison operator. For instance, if we want to look at players age 25 or younger:

In [ ]:
players['age'] <= 25

0      False
1      False
2      False
3      False
4      False
       ...
460     True
461     True
462     True
463     True
464    False
Name: age, Length: 465, dtype: bool

In [ ]:
players[players['age'] <= 25]

                    name      club  age  ... club_id  big_club  new_signing
5        Hector Bellerin   Arsenal   22  ...       1         1            0
8       Shkodran Mustafi   Arsenal   25  ...       1         1            1
9             Alex Iwobi   Arsenal   21  ...       1         1            0
10          Granit Xhaka   Arsenal   24  ...       1         1            0
11          Granit Xhaka   Arsenal   24  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
456         Pedro Obiang  West+Ham   25  ...      20         0            0
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1

[172 rows x 17 columns]

However, Pandas also has another method for accomplishing this directly. Instead of the `<=` method, we can use the `.le()` method, which stands for "less than or equal to".

In [ ]:
players[players['age'].le(25)]

                    name      club  age  ... club_id  big_club  new_signing
5        Hector Bellerin   Arsenal   22  ...       1         1            0
8       Shkodran Mustafi   Arsenal   25  ...       1         1            1
9             Alex Iwobi   Arsenal   21  ...       1         1            0
10          Granit Xhaka   Arsenal   24  ...       1         1            0
11          Granit Xhaka   Arsenal   24  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
456         Pedro Obiang  West+Ham   25  ...      20         0            0
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1

[172 rows x 17 columns]

The result is equivalent to using comparison operators. To prove this, let's use the `equals()` method to compare them.

In [ ]:
players.age.le(25).equals(players.age <= 25)

True

There are multiple comparison methods are your disposal:
* `le()`: less than or equal to (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.le.html)
* `gt()`: greater than (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.gt.html)
* `lt()`: less than (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.lt.html)
* `ge()`: greater than or equal to (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.ge.html)
* `ne()`: not equal to (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.ne.html)
* `eq()`: equal to (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.eq.html)

The main difference between using comparators and using these comparison methods is that the methods have a `fill_value` parameter that can be used to substitute in missing data.

## Binary Operators with Booleans

Before we get to combining conditions, let's look at how booleans behave in isolation

**Binary operators** are similar to other operators, but they work on the binary representation of the values, that is, the individual bits. They allow us to operations and comparisons or complements on a bit-by-bit basis. They are also known as bit-wise operators.

The most useful binary operators are `OR` and `AND`

Let's first examine `OR`. What would we expect if we performed a binary operator of False OR True (with OR represented by the pipe `|`.

We expect to get True, because an OR comparison will resolve to True as long as at least one of the conditions is True. Think of the `OR` operator as "searching for True"

In [22]:
True | False

True

Let's try some others

In [23]:
False | False

False

In [24]:
True | True

True

Let's now look at the `AND` operator, represented by the ampersand `&`. Think of the AND operator as always True unless there is a False.
* A single `False` is enough to trigger a "False".

In [26]:
False & True

False

In [27]:
True & True

True

In [28]:
False & False

False

In [29]:
True & False

False

In [30]:
True & True & False & True & True

False

How do Pandas Series combine using booleans? Let's start by making a single-element series containing a single False value

In [31]:
f = pd.Series(False)

Let's also make a single-value Series that contains True

In [32]:
t = pd.Series(True)

Let's now use the AND and OR operators on them. What we get is a combined series that compares the boolean values of each Series

In [33]:
t & f

0    False
dtype: bool

In [34]:
t | f

0    True
dtype: bool

That was simple, but where this becomes very powerful is with long series of booleans.

In [35]:
t = pd.Series([True if i % 2 == 0 else False for i in range(10)])

In [36]:
t

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [37]:
f = pd.Series([False for i in range(10)])

In [38]:
f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

What happens when we combine these together using the AND and OR operators? 

The `&` operator, as expected, returns a series of all False values since the `f` series consists of all False values.

In [39]:
t & f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

With the `|` OR operator, the result will be alternating `True` and `False`, as we would expect since the `t` Series contains alternating True and False values

In [40]:
t | f

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

The important thing to note is that when we combine two Pandas series, the comparison is done label-to-label. It is NOT done based on the order. Consider this example:

In [44]:
f = pd.Series(data = [False, True, True], index = ['c', 'b', 'a'])
t = pd.Series(data = [True, False, False], index = ['a','b','c'])

In [45]:
f

c    False
b     True
a     True
dtype: bool

In [46]:
t

a     True
b    False
c    False
dtype: bool

Now let's use the `&` operator. If the comparison were based on order of the values within the individual Series, we would expect `[False, False, False]`.

In [47]:
f & t

a     True
b    False
c    False
dtype: bool

We did not get that! Instead, we got `True` for `a` and `False` for `b` and `c`. That's because the comparison was done by the index labels `a`, `b`, and `c` and NOT the positions of the values.

This will help illustrate what happens behind the scenes when we combine booleans.