# Section 2: Series at a Glance

In [1]:
# Import pandas
import pandas as pd

A series consists of one-dimensional list of values and their associated labels. The series may contain any type of data - strings, booleans, integers, floats, etc.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

## Illustrating series

Create a simple list of student names

In [2]:
students = ["Andrew", "Brie", "Kanika"]
type(students)

list

Now create a series from this list using the series constructor
The series consists of the list of values and their associated labels. The series may contain any type of data - strings, booleans, integers, floats, etc.

In [3]:

pd.Series(students)

0    Andrew
1      Brie
2    Kanika
dtype: object

Create a list of ages for these students and convert to a series. Notice the datatype is different from the first series. Pandas has automatically figured out what type of data this is and has constructed a series of that data type accordingly

In [4]:
ages = [27, 49, 37]
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

Create a list of heights for these students and convert to a series. Notice that the datatype for this series is different as well. It is a float64

In [5]:
heights = [167.4, 173.2, 190.0]
pd.Series(heights)

0    167.4
1    173.2
2    190.0
dtype: float64

## Unlike Numpy arrays, Pandas series support mixed datatypes
In the example below, we are able to create a list of mixed datatypes, then turn them into a series. This makes the series much more flexible

In [6]:
mixed = [True, 'say', {'my_mood' : 100}]
pd.Series(mixed)

0                True
1                 say
2    {'my_mood': 100}
dtype: object

## Parameters vs. Arguments
* In the previous examples, we provided Python lists directly into the series constructor, which is itself a function. In doing so, we are passing a list as an **argument** into the "data" parameter of the `pd.Series(data = )` function
* **Parameters** are what the function expects to be passed in
* **Arguments** are the *data* being passed in to the function

In this simple example of a function called `greeting`, `something` is the parameter while *"good morning to you"* is the data

In [7]:
def greeting(something):
    print(something)

greeting('good morning to you')

good morning to you

## What's in the data?
Notice that when we create Pandas series, we only specify the *values*. Pandas automatically generates the *labels* that go with the values.
In the example below, these three book titles are assigned numerical labels.

In [8]:
books_list = ['Fooled by Randomness', 'Sapiens', 'Lenin on the Train']

In [9]:
list_s = pd.Series(books_list)

Behind the scenes, this is what's going on:

`books_list = [0:'Fooled by Randomness', 1:'Sapiens', 2:"Lenin on the Train"]`

Each item is associated with an index that specifies its location in the series. Notice how similar this is to a Python dictionary

Let's try creating a dictionary for these book titles.

In [10]:
books_dict = {0: "Fooled by Randomness", 1: "Sapiens", 2: "Lenin on the Train"}

We can then convert this into a Pandas series! This series based on a dictionary is seemingly identical to the series that was based on a list. But is it actually identical?

In [11]:
dict_s = pd.Series(books_dict)

We will now use the `equals()` method to test whether the two series are actually equivalent. It turns out that they are indeed identical!

In [12]:
list_s.equals(dict_s)

True

We can also create Pandas series by passing in scalers. Pandas will automatically assign indices. Pandas is not critically dependent on labels, instead relying on integer sequences when there is nothing else to work with

In [13]:
pd.Series(714)

0    714
dtype: int64

In [14]:
pd.Series('Andy')

0    Andy
dtype: object

## The dtype attribute
Remember that the dtype is automatically inferred by Pandas when providing data to the Series constructor function.
We also have the option of specifying *dtype* ourselves.
Returning to our `ages` series, we can specify the dtype as "float" even though the valeus passed in were integers

In [15]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [16]:
pd.Series(ages, dtype = 'float')

0    27.0
1    49.0
2    37.0
dtype: float64

* For the most part, you'll want to avoid specify dtype manually because the automatic inference from Pandas is usually good enough
* Any series that contains a string becomes a `dtype: object`, or `dytpe('O'),` automatically

## What is `dtype`?

* Remember that numpy arrays are homogenous - they only contain same-sized data

Let's return to our heights series. The dtype is `float64`, and Python knows exactly how much memory to allocate to each of these items

In [17]:
heights

[167.4, 173.2, 190.0]

In [18]:
pd.Series(heights)

0    167.4
1    173.2
2    190.0
dtype: float64

However, strings are variable-length and can take up different amounts of memory. So instead of saving the strings in the numpy array itself, Numpy instead saves a pointer to the object in memory

Let's create a new series in which one of the heights values is a string instead of a float. This forces Pandas/Numpy to store references to the data points themselves.

In [19]:
heights2 = [167.4, '173.2', 190.0]

Note that the datatype is simply `object`

In [20]:
pd.Series(heights2)

0    167.4
1    173.2
2      190
dtype: object

## Index and RangeIndex
* In Pandas, data aligns automatically by the labels, or the indices
* When constructing a series from a list, Pandas automatically generates the index for us
  * The **index** is a sequence of numbers that starts at 0 and ends at one value less than the length of the series
* However, we can generate our own labels if we want! They don't have to be just integers

In the example below, we create a new series using the previous list of books, and then set the indices to be customized values that we have passed in using a list
* Note that although we have specified the keyword arguments here when passing in the data and index lists ("data" and "index"), we did not have to do so. Pandas would have automatically recognized them because they are *positional arguments*. That is, the `Series` constructor function knows in what order to expect the arguments.

In [21]:
pd.Series(data = books_list, index = ['funny', 'serious and amusing', 'kinda interesting'])

funny                  Fooled by Randomness
serious and amusing                 Sapiens
kinda interesting        Lenin on the Train
dtype: object

Starting with Pandas version 1.0.1, a `dtype` of "string" was introduced.

### RangeIndex
* The index that is automatically generated is a built-in Pandas object called a `RangeIndex`
* Don't worry about the technicalities. The point is that this is built-in object that creates a sequence of integers with fixed differences, as specified in the `step` parameter.
* By default, the index begins at 0 and stops at one integer prior the length of the series
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.RangeIndex.html

In [22]:
list_s.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
type(list_s.index)

pandas.core.indexes.range.RangeIndex

Let's create our own Range Indices using the `RangeIndex()` function. This allows us to generate a custom index for our series

In [24]:
pd.RangeIndex(start = 4, stop = 7, step = 1)
list(pd.RangeIndex(start = 4, stop = 7, step = 1))

[4, 5, 6]

Another example

In [25]:
pd.RangeIndex(start = 10, stop = -11, step = -1)
list(pd.RangeIndex(start = 10, stop = -11, step = -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

RangeIndex is **immutable** and cannot be changed after it is created. To be modified, we have to create a new one and assign it to another place in memory.
Pandas uses this fact internally for performance optimization reasons.

## Series and Index Names

Let's revisit our book title series, which recall is a sequence of values and their associated indices (labels). Let's also assign it to a more **intelligable** variable name, `books_series`

In [28]:
books_series = list_s
books_series

0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
dtype: object

### Attributes and Methods
* Objects in Python have *attributes* and *methods* (more on this if you learn OOP)
* An **attribute** is a varialbe that is bound to an object
* A **method** is a function that is bound to an object
* For Pandas series,  `.size` and `.dytpe` are both attributes

In [30]:
books_series.size

3

### Series Name Attribute

Pandas series also have a **name** attribute. However, by default, the name attribute points to the `None` object in Python

In [36]:
books_series.name

In [37]:
books_series.name == None

True

* Let's give our series a name by setting it to a string.
* After doing this, you will see that the series now has a name attribute that is reported when that series is called
* Later on, when we create *data frames*, the name of this series will become the column name of the data frame. Keep this in mind for later

In [38]:
books_series.name = 'my favorite books'
books_series

0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
Name: my favorite books, dtype: object

* You can also name the series index! (it does not have one by default)
* After naming the series index, you will see that name appear above the indices

In [40]:
books_series.index.name == None

True

In [42]:
books_series.index.name = 'My books indices'
books_series

My books indices
0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
Name: my favorite books, dtype: object

## Skill Challenge Instructions
1. Create a Python list of length 4 that contains some of your favorite actors. This should be a list of strings. Call this list - assign it to a variable called `actor_names`
2. Next, create another Python list of the same length that contains your guesses for how old each actor is. Use integers or floats. Call this list `actor_ages`
3. Create a series that stores actor ages and labels the ages using the actor names. To clarify, use the actor name in the index and actor age as values. Give this series a name of `actors`
4. Repeat step 3, but create the series from a Python dictionary instead of a list. As an additional challenge, do not type the dictionary manually, but instead dynamically create it uzing the two lists defined in Steps 1 and 2

Create the list of actors

In [43]:
actor_names = ['Sean Connery','Morgan Freeman','Tom Hanks','Harrison Ford']

Create the list of actor ages

In [44]:
# Create list of actor ages
actor_ages = [85, 79, 65, 80]

Using these two lists, create the Pandas series by passing `actor_ages` as data and `actor_names` as the index. Also assign the name of the series within the constructor itself (alternative, can assign afterward using `series.name`

In [49]:
actors = pd.Series(data = actor_ages, index = actor_names, name = 'actors')
actors

Sean Connery      85
Morgan Freeman    79
Tom Hanks         65
Harrison Ford     80
Name: actors, dtype: int64

Create a pPthon dictionary from the actor and ages lists using the `zip` function

In [46]:
keys = actor_names
values = actor_ages
actors_dict = dict(zip(keys,values))
actors_dict

{'Sean Connery': 85,
 'Morgan Freeman': 79,
 'Tom Hanks': 65,
 'Harrison Ford': 80}

Convert this dictionary to a Pandas series

In [50]:
pd.Series(data = actors_dict, name = 'actors')

Sean Connery      85
Morgan Freeman    79
Tom Hanks         65
Harrison Ford     80
Name: actors, dtype: int64

An alternative approach to constructing the dictionary using dictionary comprehension

In [52]:
{name:age for name,age in zip(actor_names, actor_ages)}

{'Sean Connery': 85,
 'Morgan Freeman': 79,
 'Tom Hanks': 65,
 'Harrison Ford': 80}