In [1]:
import pandas as pd
import numpy as np

# Handling Date and Time

Pandas is chock full of methods that allow you to handle and manipulate time and date we will cover the following
* datetime foundations in pure Python and Numpy
* the pandas Timestamp and DatetimeIndex
* up- and down-sampling with `resample()` and `asfreq()`
* interpolation and aggregation
* rolloing windows and moving averages

Time series data is handled as regular Series and Dataframe objects, which is good because our previous knowledge will easy transfer.

## The Python *datetime* Module

Python has a built-in module called `datetime` that allows you to work with dates and times. However it is not in the default namespace, so it has to be imported.

* https://docs.python.org/3/library/datetime.html

We'll be covering:
* the "what" and "why" of the datetime module
* the `date` class
* the `time` class
* the `datetime` class

Let's start by importing the date and time classes from the datetime module.

In [2]:
from datetime import date, time

Using date, we can create Python objects that create date information. Date information is characterized by year - month - date

In [3]:
date_A = date(2020, 4, 25)

In [4]:
date_A

datetime.date(2020, 4, 25)

In [5]:
type(date_A)

datetime.date

Why would we want to make such an objects, as opposed to storing dates in, for example, a plain string? The biggest reason is that the `date` object is much more easily manipulated, combined, changed, or updated with a suite of methods designed specifically for working with dates. This unlocks a lot of functionality that would be difficult to replicate using just strings, because strings have no date-specific methods.

Let's check out some of the **date attributes**, such as `.day` and `.year`

In [6]:
date_A.day

25

In [7]:
date_A.year

2020

Now let's take a look at the time class, which stores date in hour - minute - second - microsecond
* If you omit one or more of these attributes, Python will default them to 0.

In [8]:
time_A = time(4, 30, 12, 943212)

In [9]:
time_A

datetime.time(4, 30, 12, 943212)

In [10]:
time_B = time(6)

In [11]:
time_B

datetime.time(6, 0)

Time also has dedicated attributes:

In [12]:
time_B.microsecond

0

Both the **date** and **time** classes have methods associated with them as well. One of them, `isoformat()`, will return a string representing the date in ISO 8601 format, which is YYYY-MM-DD

In [13]:
time_A.isoformat()

'04:30:12.943212'

The datetime module also has a `datetime` class

In [14]:
from datetime import datetime

The `datetime` class is a standalone container that combines and stores attributes from both date and time objects, thus storing information from both the date and the time.

In [15]:
dt_A = datetime(2020, 4, 25, 19, 1, 23, 123123)

In [16]:
dt_A

datetime.datetime(2020, 4, 25, 19, 1, 23, 123123)

We can also ask Python to construct a new datetime object capturing a precise point in time. One example is the `.now()` method, which generates a datetime object for that precise moment.

In [17]:
datetime.now()

datetime.datetime(2021, 11, 18, 4, 8, 54, 307189)

We can extract attributes from datetime objects:

In [18]:
dt_A.year

2020

In [19]:
dt_A.microsecond

123123

We can also print it all, giving us a nice visual of the datetime.

In [20]:
print(dt_A)

2020-04-25 19:01:23.123123

In [21]:
print(datetime.now())

2021-11-18 04:08:54.361723

## Parsing Dates from Text with `strptime()`

Oftentimes we will not have datetime objects already made for us. Rather, we will have to work with raw text (strings) and will need to tease out or convert this text into dates. 

So, what do we do if we don't have date objects? It turns out that the `datetime` module has a method dedicated to extracting dates out of text called `strptime` (or string parse time)
* https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

It takes two arguments: the string containing that datetime that we want to parse, and the format that the date-like or time-like text is going to be expressed in. The latter makes use of format codes for the individual items that can be viewed in the link above.

In [22]:
datetime.strptime('2019-10-31','%Y-%m-%d')

datetime.datetime(2019, 10, 31, 0, 0)

Notice how this method converts our text into a datetime object that we can now work with. Let's save it as a variable.

In [23]:
dt_B = datetime.strptime('2019-10-31','%Y-%m-%d')

In [24]:
dt_B.year

2019

In [25]:
dt_B.isoformat()

'2019-10-31T00:00:00'

Going back to the conversion step, we defined the structure of the date using the **format codes**. Don't be scared by these, they are simply well-defined codes for how to describe the different datetime elements.

Let's try another example, with a future date and completely different formatting.

In [26]:
try_this = "jan 20 2090 4pm"

Our previous format code will not work when using `datetime`. The format of the format codes is not consistent with the datetime implied by our string.

In [27]:
## Results in a ValueError: time data 'jan 20 2090 4pm' does not match format '%Y-%m-%d'
# datetime.strptime(try_this, '%Y-%m-%d')

This means we need to define a new format structure using the format codes. The task now is to scan the format codes table and determine which ones to use for our datetime string.

Important note: the spacing in the format string is critical. It must mirror the spacing in the string, and must account for any extraneous or excess characters.

In [28]:
datetime.strptime(try_this, '%b %d %Y %I%p')

datetime.datetime(2090, 1, 20, 16, 0)

And there you have it, we've successfully parsed dates using the `strptime` module.

## An Even Better Way To Parse Dates and Times: `dateutil`

The `strptime` method works great, but it's a bit laborious because one has to utilize those pesky format codes. There are alternatives to this, and one of the most popular is `dateutil`. It is external to the Python standard library, but it is included in most data science distributions, such as Anaconda and the Colaboratory.

In [29]:
pip show python-dateutil

Name: python-dateutil
Version: 2.8.2
Summary: Extensions to the standard Python datetime module
Home-page: https://github.com/dateutil/dateutil
Author: Gustavo Niemeyer
Author-email: gustavo@niemeyer.net
License: Dual License
Location: /usr/local/lib/python3.7/dist-packages
Requires: six
Required-by: pandas, matplotlib, LunarCalendar, kaggle, jupyter-client, holidays, fbprophet, bokeh

If for some reason you need to install it, you can use the following command (colab already has it installed, so it will not be installed)

In [30]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil) (1.15.0)

Let's get to using it. The heavy lifting will be done with the `parser` class, which we have to import from `dateutil`.

In [31]:
from dateutil import parser

The beauty of using `parser` is that we can easily convert text to dates *without* needing to define the structure of the date.

In [32]:
parser.parse('Jan 21st 1990')

datetime.datetime(1990, 1, 21, 0, 0)

That's incredible. Let's try another example with something absolutely insane.

In [33]:
parser.parse('22 apriL 2068 at 4pm and 17 minutes 20 seconds')

datetime.datetime(2068, 4, 22, 16, 17, 20)

Are you freaking kidding me?! That's awesome. The dateutil parser has a very forgiving mechanism of action and is quite powerful. However, it's always a good idea however to double-check and make sure the parser did what you wanted it to do.

The `dateutil` package has many other methods as well, but the instructor finds that `parser` is among the most useful.
* https://dateutil.readthedocs.io/en/stable/parser.html

## Going from Datetime to String using `strftime()`

We've seen how to convert dates and times from strings to datetime objects using `strptime()` and dateutil's `parser.parse()`. But how do we go the other way around and convert our datetime objects into strings? In this lecture we'll learn exactly how.

The first method is `strftime()`, which works very similarly to `strptime()` but does the exact opposite. It takes a datetime object and converts it into a string. 
* https://docs.python.org/3/library/datetime.html#datetime.date.strftime

To illustrate, let's start with a new datetime object where we capture the exact moment in time when we execute it.

In [34]:
dt = datetime.now()

In [35]:
dt

datetime.datetime(2021, 11, 18, 4, 9, 1, 167697)

Now we'll use `strftime()` and format codes to create a string of our design. All you need to do is stick your format code into the string template that you provide, and the method takes care of the rest.

Suppose we just want to get the year into a string. We can do that very easily.

In [36]:
dt.strftime('%Y')

'2021'

We have full control of how we structure our string. We can throw in a month, day, and extra text if we so choose.

In [37]:
dt.strftime('Year: %Y; Month: %m; Day: %d')

'Year: 2021; Month: 11; Day: 18'

Let's do one better and try to represent our datetime fully with a single format code. For this we can use `%c`, which captures the day, month, year, and time.

In [38]:
dt.strftime('%c')

'Thu Nov 18 04:09:01 2021'

That's great - we got a very nicely formatted string with minimal formatting code.

There is another way of converting dates to custom string representation that works a bit differently. We start with a string that embeds a format code, such that the formatted datetime string is now embedded within our wider string. We can do this with old-school `.format()` string formatting.

In [39]:
"My date is {:%c}".format(dt)

'My date is Thu Nov 18 04:09:01 2021'

## Datetimes with **Numpy**

Sometimes we need to manipulate large arrays of dates and times. The pure Python approach is not appropriate for this. Numpy has created a special datatype, `datetime64`, that encodes and stores datetime information more efficiently, allowing data scientists to conduct large-scale operations on dates.
* https://numpy.org/doc/stable/reference/arrays.datetime.html

Let's start by building a datetime64 object using some arbitrary date. As the name implies, Numpy encodes these values as 64-bit integers.

In [40]:
np.datetime64('2020-03-04')

numpy.datetime64('2020-03-04')

And let's assign it to a variable.

In [41]:
a = np.datetime64('2020-03-04')

And we'll create a second datetime64 variable capturing the current date and time.

In [42]:
b = np.datetime64(datetime.now())

In [43]:
b

numpy.datetime64('2021-11-18T04:09:01.242896')

Now that we have these two datetime64 objects, we can conduct operations on them.

We can do things like add days to a date.

In [44]:
a + 10

numpy.datetime64('2020-03-14')

What if we add 10 to the other date? What will it do?

In [45]:
b + 10

numpy.datetime64('2021-11-18T04:09:01.242906')

Interestingly, this command added 10 the microseconds counter for our "b" variable. The reason this is happening is that our two numpy datetime64s have two fundamentally different time units. "a" has a unit of day, as the lowest level of precision encoded. So when we add 10, we get 10 more days. But "b" has the microsecond time unit as the lowest level of precision, so when we add 10, we get 10 more microseconds.

We can change the time unit by rescaling the numpy datetime.

In [46]:
np.datetime64(b, "D")

numpy.datetime64('2021-11-18')

Now when we add 10, we'll get 10 more days instead of 10 more microseconds.

In [47]:
np.datetime64(b, "D") + 10

numpy.datetime64('2021-11-28')

Keep in mind that the numpy datetime64 type is fixed length at 64 bits, but by changing the time unit, we change the precision of our dates. When we lower the precision as we did for "b" above, we increase the timestamp. In other words, the range of dates that we can possibly increase in numpy increases. There is a tradeoff between precision and span.

datetime64 objects allow us to perform efficient vectorized operations on a collection of dates - **vectorized ops**. Let's create an array of dates.

In [48]:
np.array([
          '2019-02-20',
          '2019-06-20',
          '2090-03-23'
], dtype = np.datetime64)

array(['2019-02-20', '2019-06-20', '2090-03-23'], dtype='datetime64[D]')

Let's analyze the above. We created a numpy array by passing in a Python list of dates. By specifying the dtype as `np.datetime64`, the method parses those dates as `datetime64` objects. Notice also how the time unit is day (the capitalized D). 

Let's assign this to a variable that we can work with.

In [49]:
dates = np.array([
          '2019-02-20',
          '2019-06-20',
          '2090-03-23'
], dtype = np.datetime64)

Now we can do things like subtract dates from each day in the array very quickly and efficiently.

In [50]:
dates - 10

array(['2019-02-10', '2019-06-10', '2090-03-13'], dtype='datetime64[D]')

We can do more complicated calculations, like getting the business day that falls 10 days before each of the dates in the array. This specific task can be accomplished using the `numpy.busday_offset()` method.
* https://numpy.org/doc/stable/reference/generated/numpy.busday_offset.html#numpy.busday_offset

In [51]:
np.busday_offset(dates, offsets = -10, roll = 'backward')

array(['2019-02-06', '2019-06-06', '2090-03-09'], dtype='datetime64[D]')

We can spend a whole course talking about how Numpy handles datetimes, but we're exploring Numpy as a stepping stone to understanding how Pandas handles datetimes. The key takeaway is that Numpy has very powerful methods that make handling datetimes much easier than using pure Python methods, as great as they are.

## The Pandas Timestamp

We are now ready to introduce the Pandas timestamp. It combines the simplicity and intuition of Python and the performance and rich interface of Numpy. Let's begin!

Suppose we have a date in mind and it comes in the form of a string.

In [52]:
"4th of July 1776"

'4th of July 1776'

How do we convert this into timestamp. Easy - we send it into the `pd.Timestamp()` function. 
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html
* The above link also includes the attributes and methods associated with Timestamp

In [53]:
pd.Timestamp("4th of July 1776")

Timestamp('1776-07-04 00:00:00')

And that's it! How easy was that? `pd.Timestamp()` actually behaves very similarly to `dateutil` in that it has very forgiving syntax recognition.

In [54]:
pd.Timestamp("04-JUL-1776 at 8:00am")

Timestamp('1776-07-04 08:00:00')

Keep in mind that there may be some ambiguity for some date strings simply because different regions have different default ways of representing dates. The ambiguity will exist in instances where the first value is 12 or smaller, as it could indicate a day or a month. For instance, the following string gives a Timestamp object indicating April 7, 1776 instead of July 4, 1776:

In [55]:
pd.Timestamp("4/7/1776")

Timestamp('1776-04-07 00:00:00')

To fix this, we can use the `pd.to_datetime()` method and set the `dayfirst` parameter to `True`, thereby specifying that the day comes first. Note that this method also creates a Timestamp object since the input is a scalar. It can also return a DateTimeIndex or a datetime64 Series, depending on the input.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [56]:
pd.to_datetime("4/7/1776", dayfirst = True)

Timestamp('1776-07-04 00:00:00')

Note that when the leading value in an NN/NN/YYYY formatted date is 13 or greater, the ambiguity is resolved because there are only 12 months.

So what is **Timestamp** in practical terms? Simply put, it is the fundamental building block of all datetime operations in Pandas. Let's examine some of its attributes and methods.

In [57]:
pdts = pd.to_datetime("4/7/1776", dayfirst = True)

We can do things like extract the name of the day:

In [58]:
pdts.day_name()

'Thursday'

How many days are in that month?

In [59]:
pdts.days_in_month

31

And what quarter of the year did that date fall into?

In [60]:
pdts.quarter

3

We can also represent this date in a 3-item tuple using the `isocalendar()` method.

In [61]:
pdts.isocalendar()

(1776, 27, 4)

## Our New Dataset: Brent Prices

Let's now start working with a new dataset so we can explore our new techniques before moving on to more advanced topics.

This dataset will focus on oil prices. There are multiple types of crude oil. The **Brent crude** is one of the benchmarks that can be used to describe crude oil. There are also others all over the world. But in this lecture, we'll look a long series of oil prices going back nearly two decades.

https://andybek.com/pandas-oil

In [62]:
oil_url = 'https://andybek.com/pandas-oil'

In [63]:
brent = pd.read_csv(oil_url)

In [64]:
brent.head()

        Date  Price
0  04-Jan-00  23.95
1  05-Jan-00  23.72
2  06-Jan-00  23.55
3  07-Jan-00  23.35
4  10-Jan-00  22.77

In [65]:
brent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 78.5+ KB

Structurally, the dataset is not too complicated. It contains a long sequence of dates (in string form) alongside prices for Brent crude oil in *float64*.

## Date Parsing and DatetimeIndex

The dataframe we imported doesn't contain Timestamp or datetime objects in the "Date" column. This means we have to convert these to actual dates.

In [66]:
brent.dtypes

Date      object
Price    float64
dtype: object

In [67]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 362.6 KB

Indeed, we're only occupying about 362 Kb of memory, which isn't much. Let's keep that in mind.

Next, we'll go ahead and convert the "Date" column to datetime so that we can harness all of the date-specific functionality. We'll do this by casting the "Date" data into np.datetime64, creating a column of numpy datetime64 datatypes

In [68]:
brent['Date'] = brent.Date.astype(np.datetime64)

In [69]:
brent.head()

        Date  Price
0 2000-01-04  23.95
1 2000-01-05  23.72
2 2000-01-06  23.55
3 2000-01-07  23.35
4 2000-01-10  22.77

Now let's look at dtypes again to confirm the conversion.

In [70]:
brent.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

And how about that memory usage? Any change there?

In [71]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

Notice how much less memory we're using for this dataframe now that the dtype in the "Date" column is datetime64. This ~70% reduction in memory utilization isn't too consequential here, but if we were working with a massive dataset, it could make a big difference. The `datetime` datatype is much more efficiently stored in memory than the `object` datatype.

Moving on, let's set the newly-converted date column to be the index of our dataframe.

In [72]:
brent.set_index("Date", inplace = True)

In [73]:
brent.head()

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

What does this index look like?

In [74]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

Note how this is a `DatetimeIndex` object, a special immutable Pandas data structure that we can think of as a collection of Pandas timestamps. If we start with a collection of dates and cast the array to the `pd.to_datetime()` function, the end result is actually a DatetimeIndex.

In [75]:
pd.to_datetime(['3 june 2020', 'jun 20 2030'])

DatetimeIndex(['2020-06-03', '2030-06-20'], dtype='datetime64[ns]', freq=None)

We don't normally work with DatetimeIndex objects outside of using them in Pandas dataframes.

To wrap up, the DatetimeIndex not only contains a sequence of dates and timestamps, but also attributes of its own like `name`, `length` and `freq`. See the link below for a full list of DatetimeIndex attributes and methods.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html

## A Cool Shortcut: `read_csv()` with `parse_dates`

In the previous lecture, we imported a dataframe, parsed the date column, then reassigned as the index.

There is another way to achieving the exact same result, but doing so during the initial import. It turns out that we can identify the index AND parse the dates at the moment we import the data into Pandas!
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

But first, recall the classic import:

In [76]:
pd.read_csv(oil_url)

           Date  Price
0     04-Jan-00  23.95
1     05-Jan-00  23.72
2     06-Jan-00  23.55
3     07-Jan-00  23.35
4     10-Jan-00  22.77
...         ...    ...
5011  24-Sep-19  64.13
5012  25-Sep-19  62.41
5013  26-Sep-19  62.08
5014  27-Sep-19  62.48
5015  30-Sep-19  60.99

[5016 rows x 2 columns]

But if we utilize the `index_col` parameter, we can set the date column as the index from the get-go. In this case, the "Date" column is at the 0th column index position, so we'll set `index_col=0`. Note that we could have also used the name of the column.

In [77]:
pd.read_csv(oil_url, index_col=0)

           Price
Date
04-Jan-00  23.95
05-Jan-00  23.72
06-Jan-00  23.55
07-Jan-00  23.35
10-Jan-00  22.77
...          ...
24-Sep-19  64.13
25-Sep-19  62.41
26-Sep-19  62.08
27-Sep-19  62.48
30-Sep-19  60.99

[5016 rows x 1 columns]

Great! But our Date index is still a normal index object. It is NOT a DatetimeIndex object.

In [78]:
pd.read_csv(oil_url, index_col=0).index

Index(['04-Jan-00', '05-Jan-00', '06-Jan-00', '07-Jan-00', '10-Jan-00',
       '11-Jan-00', '12-Jan-00', '13-Jan-00', '14-Jan-00', '17-Jan-00',
       ...
       '17-Sep-19', '18-Sep-19', '19-Sep-19', '20-Sep-19', '23-Sep-19',
       '24-Sep-19', '25-Sep-19', '26-Sep-19', '27-Sep-19', '30-Sep-19'],
      dtype='object', name='Date', length=5016)

This means Pandas does not recognize these as dates, but as regular strings. As such, we wont be able to utilize the attributes and methods available to DatetimeIndex objects.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html

Luckily, `read_csv()` has another parameter called `parse_dates()`, which we can set to `True`. This will cause Pandas to try to parse dates from our index values.

In [79]:
pd.read_csv(oil_url, index_col=0, parse_dates=True)

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[5016 rows x 1 columns]

In [80]:
pd.read_csv(oil_url, index_col=0, parse_dates=True).index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

We now have a DatetimeIndex! Let's set this as a new variable *brent2*

In [81]:
brent2 = pd.read_csv(oil_url, index_col=0, parse_dates=True)

In [82]:
brent2.head()

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

The `parse_dates` parameter is clearly much more elegant than performing the parse on our own. However, it is dependent upon the data being well-formed of good quality.

## Indexing Dates and Partial String Indexing

Just like any other index, a DatetimeIndex can be indexed and selected from. 

Let's start with label-based indexing using the `loc[]` indexer. Suppose we want to select a specific date, *Jan 3rd 2017*. We can do the following.

In [83]:
brent.loc['2017-01-03']

Price    55.05
Name: 2017-01-03 00:00:00, dtype: float64

How about a range of prices spanning a particular period of dates? We can use a slice for that. Let's select pricrs from January 3rd to January 6th

In [86]:
brent.loc['2017-01-03':'2018-01-06']

            Price
Date
2017-01-03  55.05
2017-01-04  54.57
2017-01-05  54.99
2017-01-06  55.90
2017-01-09  54.39
...           ...
2017-12-29  66.73
2018-01-02  66.65
2018-01-03  67.85
2018-01-04  68.73
2018-01-05  68.01

[260 rows x 1 columns]

A special aspect of DatetimeIndex indices is that we can use partial string indexing
* https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#partial-string-indexing

For instance, say we want to select all prices from Jan 2019. One way to do this is to simply slice from January 01 to January 31.

In [88]:
brent.loc['2019-01-01':'2019-01-31']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

However, DatetimeIndex allow for a more elegant syntax as follows:

In [89]:
brent.loc['2019-01']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

How neat is that! This *partial string indexing* is extremely powerful. For example, we can combine partial strings to get slices. 

Suppose we want the prices for the first two months of 2019. All we have to do is this:

In [90]:
brent.loc['2019-01':'2019-02']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46
2019-02-01  61.86
2019-02-04  62.26
2019-02-05  61.67
2019-02-06  62.22
2019-02-07  61.01
2019-02-08  61.37
2019-02-11  61.30
2019-02-12  62.58
2019-02-13  63.27
2019-02-14  64.00
2019-02-15  65.65
2019-02-18  66.41
2019-02-19  65.86
2019-02-20  66.82
2019-02-21  66.91
2019-02-22  66.91
2019-02-25  64.02
2019-02-26  64.51
2019-02-27  65.55
2019-02-28  65.03

The slices don't even need to by symmetric or similarly shaped. We can provide a partial string for one end of a slice and a full string on the other. For example, suppose we want the prices from July 2019 to mid August 2019. We do the following:

In [91]:
brent.loc['2019-07':'2019-08-15']

            Price
Date
2019-07-01  65.10
2019-07-02  62.72
2019-07-03  63.53
2019-07-04  63.62
2019-07-05  64.23
2019-07-08  64.89
2019-07-09  64.30
2019-07-10  66.41
2019-07-11  67.64
2019-07-12  66.65
2019-07-15  66.86
2019-07-16  65.87
2019-07-17  63.67
2019-07-18  60.70
2019-07-19  61.04
2019-07-22  61.96
2019-07-23  62.28
2019-07-24  63.83
2019-07-25  63.47
2019-07-26  62.46
2019-07-29  62.29
2019-07-30  62.55
2019-07-31  64.07
2019-08-01  62.90
2019-08-02  61.12
2019-08-05  59.32
2019-08-06  58.63
2019-08-07  55.03
2019-08-08  56.29
2019-08-09  57.37
2019-08-12  57.13
2019-08-13  59.90
2019-08-14  57.86
2019-08-15  57.37

As a final note, we can do plain square indexing instead of using the `loc[]` indexer. However, the instructor recommends using the `loc[]` when indexing because it signals our intent much more clearly.

## Skill Challenge #1

#### 1. Using the *brent* time series, create a shorter dataframe that only contains the prices from 1 Dec 2015 through 31 March 2016

This is a simply selection using `loc[]`.

In [92]:
brent.loc['2015-12-01':'2016-03-31']

            Price
Date
2015-12-01  42.97
2015-12-02  41.92
2015-12-03  42.00
2015-12-04  41.44
2015-12-07  39.69
...           ...
2016-03-24  38.33
2016-03-28  38.33
2016-03-29  36.75
2016-03-30  36.75
2016-03-31  36.75

[84 rows x 1 columns]

#### 2. Repeat the above, but this time use partial string indexing instead of specifying full dates. Determine the standard deviation of prices during this period.

Because we're selecting from the first day of December to the final day of March, this can easily be done with partial string indexing as follows.

In [93]:
brent.loc['2015-12':'2016-03']

            Price
Date
2015-12-01  42.97
2015-12-02  41.92
2015-12-03  42.00
2015-12-04  41.44
2015-12-07  39.69
...           ...
2016-03-24  38.33
2016-03-28  38.33
2016-03-29  36.75
2016-03-30  36.75
2016-03-31  36.75

[84 rows x 1 columns]

We could have used other syntax as well, owing to the flexibility of DatetimeIndex selection. For example:

In [98]:
brent.loc['12/2015':'03/2016']

            Price
Date
2015-12-01  42.97
2015-12-02  41.92
2015-12-03  42.00
2015-12-04  41.44
2015-12-07  39.69
...           ...
2016-03-24  38.33
2016-03-28  38.33
2016-03-29  36.75
2016-03-30  36.75
2016-03-31  36.75

[84 rows x 1 columns]

To calculate the standard deviation of the prices during this period, we simply tack on a call to the `std()` method.

In [95]:
brent.loc['2015-12':'2016-03'].std()

Price    3.990123
dtype: float64

#### 3. Calculate the mean price from February 2018 to the median price from March 2017. Which was greater?

Let's take care of all this in one fell swoop. We'll do a `loc[]` selection on Feb 2018, calculate the mean, and compare it using a boolean operator to a `loc[]` selection of March 2017 where we calculate the median.

In [96]:
brent.loc['2018-02'].mean() >= brent.loc['2018-03'].median()

Price    True
dtype: bool

Thus, the mean price from February 2018 was higher than the median price from March 2017. Let's look at the actual values.

In [97]:
brent.loc['2018-02'].mean(), brent.loc['2018-03'].median()

(Price    65.3175
 dtype: float64, Price    65.19
 dtype: float64)

It was quite close! Feb 2018 had a mean price of $65.32 while March 2017 had a median price of $65.19