In [1]:
import pandas as pd
import numpy as np

## Section Introduction

This section will focus on **Pivot Tables**. The term was trademarked by Microsoft in the 90s for Microsoft Excel. Pandas pivot tables will draw heavily from this. This section will cover:
* building pivot tables from first principles
* the `pivot()` and `pivot_table()` constructs
* multiindex pivot tables
* applying multiple functions
* pivot cosumization with margins, multiple functions, and more!

## New Data: New York City SAT Scores

In this section we will analyze SAT scores from New York City high schools from the year 2012. For this course, the instructor has made some changes to the original data, including removing schools with missing data, removing certain attributes that are not of interest to us, and reshaping the data to prepare for this section.
* https://andybek.com/pandas-sat

In [2]:
sat_url = 'https://andybek.com/pandas-sat'

In [3]:
sat = pd.read_csv(sat_url)

In [4]:
sat.head()

                             School Name    Borough  ...  SAT Section Score
0  A. Philip Randolph Campus High School  Manhattan  ...         Math   459
1  A. Philip Randolph Campus High School  Manhattan  ...      Reading   453
2  A. Philip Randolph Campus High School  Manhattan  ...      Writing   447
3            Abraham Lincoln High School   Brooklyn  ...         Math   441
4            Abraham Lincoln High School   Brooklyn  ...      Reading   422

[5 rows x 6 columns]

In [5]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   School Name         1125 non-null   object
 1   Borough             1125 non-null   object
 2   Student Enrollment  1125 non-null   int64
 3   Percent Tested      1125 non-null   object
 4   SAT Section         1125 non-null   object
 5   Score               1125 non-null   int64
dtypes: int64(2), object(4)
memory usage: 52.9+ KB

So we have a 6-column dataframe, two of which are numeric ("Student Enrollment" and "Score"). Note that because of the percentage sign, "Percent Tested" is an `object` datatype instead of numeric.

Let's start by replacing the "Percent Tested" with a floating point value.

In [6]:
sat['Percent Tested'] = sat['Percent Tested'].replace(regex='%', value = '').astype(float)

In [7]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   School Name         1125 non-null   object
 1   Borough             1125 non-null   object
 2   Student Enrollment  1125 non-null   int64
 3   Percent Tested      1125 non-null   float64
 4   SAT Section         1125 non-null   object
 5   Score               1125 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 52.9+ KB

Beautiful. Let's get started.

## Pivoting Data with the `pivot()` Method

Pivoting is all about reshaping data. We take a dataframe or series, and without transforming the content, we present it differently. Changing the structure of a dataset depending on the question we are trying to answer is a very important skill in data analysis.

In [8]:
sat.head(9)

                                  School Name    Borough  ...  SAT Section  Score
0       A. Philip Randolph Campus High School  Manhattan  ...         Math    459
1       A. Philip Randolph Campus High School  Manhattan  ...      Reading    453
2       A. Philip Randolph Campus High School  Manhattan  ...      Writing    447
3                 Abraham Lincoln High School   Brooklyn  ...         Math    441
4                 Abraham Lincoln High School   Brooklyn  ...      Reading    422
5                 Abraham Lincoln High School   Brooklyn  ...      Writing    422
6  Academy for Careers in Television and Film     Queens  ...         Math    444
7  Academy for Careers in Television and Film     Queens  ...      Reading    458
8  Academy for Careers in Television and Film     Queens  ...      Writing    444

[9 rows x 6 columns]

Consider our *sat* dataset. Each school's scores in Math, Reading, and Writing is represented in a separate row. This is not ideal because it repeats school names, enrollment, and borough several times for each school. We can argue that this is not the most sensible way to present the data.

Let's change the structure of the dataframe to move the "SAT Section" to the column axis, so that we have separate columns for Math, Reading and Writing. The school names will be the index, and the scores will be the sequence of values. This is not the only way to reshape, but it is one option.

In [9]:
sat.set_index(['School Name', "SAT Section"])

                                                          Borough  ...  Score
School Name                                SAT Section             ...
A. Philip Randolph Campus High School      Math         Manhattan  ...    459
                                           Reading      Manhattan  ...    453
                                           Writing      Manhattan  ...    447
Abraham Lincoln High School                Math          Brooklyn  ...    441
                                           Reading       Brooklyn  ...    422
...                                                           ...  ...    ...
Young Women's Leadership School in Astoria Reading         Queens  ...    464
                                           Writing         Queens  ...    477
Young Women's Leadership School in Queens  Math            Queens  ...    415
                                           Reading         Queens  ...    420
                                           Writing         Queens  ...    433

[1125 rows x 4 columns]

We can now do label-based selection for the scores (we lost the rest of the data, but we don't care too much about that for now).

In [10]:
sat.set_index(['School Name', "SAT Section"]).loc[:,['Score']]

                                                        Score
School Name                                SAT Section
A. Philip Randolph Campus High School      Math           459
                                           Reading        453
                                           Writing        447
Abraham Lincoln High School                Math           441
                                           Reading        422
...                                                       ...
Young Women's Leadership School in Astoria Reading        464
                                           Writing        477
Young Women's Leadership School in Queens  Math           415
                                           Reading        420
                                           Writing        433

[1125 rows x 1 columns]

Finally, let's kick the "SAT Section" level of the index over to the column axis using `unstack()`. 
* https://pandas.pydata.org/pandas-docs/version/1.3.4/reference/api/pandas.DataFrame.unstack.html

In [11]:
sat.set_index(['School Name', "SAT Section"]).loc[:,['Score']].unstack(level = 'SAT Section')

                                                   Score
SAT Section                                         Math Reading Writing
School Name
A. Philip Randolph Campus High School                459     453     447
ACORN Community High School                          379     395     385
Abraham Lincoln High School                          441     422     422
Academy for Careers in Television and Film           444     458     444
Academy for College Preparation and Career Expl...   386     397     393
...                                                  ...     ...     ...
World Journalism Preparatory (College Board)         484     491     487
York Early College Academy                           496     481     473
Young Women's Leadership School                      478     465     472
Young Women's Leadership School in Astoria           483     464     477
Young Women's Leadership School in Queens            415     420     433

[375 rows x 3 columns]

We now have a much nicer presentation of the same data. But we arguably how to go through a lot of steps to get there. We had to change the index, then select the "Score" column, and finally unpivoted one level of the index. 

This kind of reshaping work is so common that Pandas offers a dedicated method for accomplishing this in one single command. Starting with our raw dataframe, we can call the `pivot()` method as follows:
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html

In [12]:
sat.pivot('School Name','SAT Section','Score')

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393
...                                                  ...      ...      ...
World Journalism Preparatory (College Board)         484      491      487
York Early College Academy                           496      481      473
Young Women's Leadership School                      478      465      472
Young Women's Leadership School in Astoria           483      464      477
Young Women's Leadership School in Queens            415      420      433

[375 rows x 3 columns]

That's a thing of beauty right there. We've condensed a 3-step process to a single line of code.

Given that this is our first time using `pivot()`, it would behoove us to include the parameter names instead of relying on positional arguments.

In [13]:
sat.pivot(index = 'School Name', columns = 'SAT Section', values = 'Score')

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393
...                                                  ...      ...      ...
World Journalism Preparatory (College Board)         484      491      487
York Early College Academy                           496      481      473
Young Women's Leadership School                      478      465      472
Young Women's Leadership School in Astoria           483      464      477
Young Women's Leadership School in Queens            415      420      433

[375 rows x 3 columns]

If this looks familiar to Excel users, it should. It's exactly what the pivot tables in Excel do. We want to do more analysis here, so we'll assign this output to a variable.

In [14]:
pivoted = sat.pivot(index = 'School Name', columns = 'SAT Section', values = 'Score')

In [15]:
pivoted.head()

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393

## Jason's Side Project

### Which borough had the highest average scores on per-SAT-Section basis?

In [46]:
sat.groupby(["Borough", "SAT Section"])['Score'].mean().sort_values(ascending = False)

Borough        SAT Section
Staten Island  Math           486.200000
               Reading        478.500000
               Writing        474.300000
Queens         Math           462.362319
Manhattan      Math           455.887640
               Reading        444.932584
Queens         Reading        443.260870
               Writing        439.855072
Manhattan      Writing        439.314607
Brooklyn       Math           416.403670
               Reading        410.761468
Bronx          Math           404.357143
Brooklyn       Writing        403.091743
Bronx          Reading        402.520408
               Writing        395.846939
Name: Score, dtype: float64

### Which school had the highest scores?

In [17]:
sat.set_index(['School Name','SAT Section']).sort_values(by = "Score", ascending = False)

                                                                      Borough  ...  Score
School Name                                        SAT Section                 ...
Stuyvesant High School                             Math             Manhattan  ...    754
Bronx High School of Science                       Math                 Bronx  ...    714
Staten Island Technical High School                Math         Staten Island  ...    711
Queens High School for the Sciences at York Col... Math                Queens  ...    701
Stuyvesant High School                             Reading          Manhattan  ...    697
...                                                                       ...  ...    ...
Kingsbridge International High School              Writing              Bronx  ...    310
International High School at Prospect Heights      Reading           Brooklyn  ...    302
                                                   Writing           Brooklyn  ...    300
Pan American International High School at Monroe   Writing              Bronx  ...    292
Multicultural High School                          Writing           Brooklyn  ...    284

[1125 rows x 4 columns]

## Undoing Pivots with `melt()`

What happens if we want to "undo" a pivot?

One approach is to assign different pivot views to different variables, so that if we want to revert back to a previous view, we simply call that variable. However this is considered cheating because we're not really "undoing" anything - we're just going back to a previous dataframe stored in memory. 

So how do we do this legitimately? Let's begin with a pivoted dataframe from last lecture.

In [18]:
pivoted

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393
...                                                  ...      ...      ...
World Journalism Preparatory (College Board)         484      491      487
York Early College Academy                           496      481      473
Young Women's Leadership School                      478      465      472
Young Women's Leadership School in Astoria           483      464      477
Young Women's Leadership School in Queens            415      420      433

[375 rows x 3 columns]

Suppose that we want to bring the SAT Section column axis back to a single column, like we had at the beginning of this section. An easy way to do this is to call `stack()`, which takes the column axis and rotates it clockwise into the right-most level of the index axis, making it longer and narrower (hence the term "stack".

In [19]:
pivoted.stack()

School Name                                 SAT Section
A. Philip Randolph Campus High School       Math           459
                                            Reading        453
                                            Writing        447
ACORN Community High School                 Math           379
                                            Reading        395
                                                          ...
Young Women's Leadership School in Astoria  Reading        464
                                            Writing        477
Young Women's Leadership School in Queens   Math           415
                                            Reading        420
                                            Writing        433
Length: 1125, dtype: int64

Again, this pushes "SAT Section" into the multiindex.

In [20]:
pivoted.stack().index

MultiIndex([(     'A. Philip Randolph Campus High School',    'Math'),
            (     'A. Philip Randolph Campus High School', 'Reading'),
            (     'A. Philip Randolph Campus High School', 'Writing'),
            (               'ACORN Community High School',    'Math'),
            (               'ACORN Community High School', 'Reading'),
            (               'ACORN Community High School', 'Writing'),
            (               'Abraham Lincoln High School',    'Math'),
            (               'Abraham Lincoln High School', 'Reading'),
            (               'Abraham Lincoln High School', 'Writing'),
            ('Academy for Careers in Television and Film',    'Math'),
            ...
            (                'York Early College Academy', 'Writing'),
            (           'Young Women's Leadership School',    'Math'),
            (           'Young Women's Leadership School', 'Reading'),
            (           'Young Women's Leadership School', 'Writing'),
            ('Young Women's Leadership School in Astoria',    'Math'),
            ('Young Women's Leadership School in Astoria', 'Reading'),
            ('Young Women's Leadership School in Astoria', 'Writing'),
            ( 'Young Women's Leadership School in Queens',    'Math'),
            ( 'Young Women's Leadership School in Queens', 'Reading'),
            ( 'Young Women's Leadership School in Queens', 'Writing')],
           names=['School Name', 'SAT Section'], length=1125)

To revert back to a flat dataframe, we can chain on a `set_index()` call.

In [22]:
pivoted.stack().reset_index()

                                     School Name SAT Section    0
0          A. Philip Randolph Campus High School        Math  459
1          A. Philip Randolph Campus High School     Reading  453
2          A. Philip Randolph Campus High School     Writing  447
3                    ACORN Community High School        Math  379
4                    ACORN Community High School     Reading  395
...                                          ...         ...  ...
1120  Young Women's Leadership School in Astoria     Reading  464
1121  Young Women's Leadership School in Astoria     Writing  477
1122   Young Women's Leadership School in Queens        Math  415
1123   Young Women's Leadership School in Queens     Reading  420
1124   Young Women's Leadership School in Queens     Writing  433

[1125 rows x 3 columns]

So there we have it - a flat dataframe with a standard range index.

Another way to get this done is to use the `melt()` method. The `melt()` method is used to change a dataframe to a structure where the so-called *measured variables* are unpivoted into the row axis. 
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html
* Any variables that are not *measured variables* are considered *identifier variables*. Identifier variables are not forced into the unpivoted structure.
* All measured variable columns are stacked by the `melt()` method
* At the end of the method, you have identifier columns, one variable column, and one value column

In [26]:
pivoted.head()

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393

In [24]:
pivoted.melt()

     SAT Section  value
0           Math    459
1           Math    379
2           Math    441
3           Math    444
4           Math    386
...          ...    ...
1120     Writing    487
1121     Writing    473
1122     Writing    472
1123     Writing    477
1124     Writing    433

[1125 rows x 2 columns]

Notice how the measured variable "SAT Section" has been unpivoted from the column axis into the row axis. In the process however we lost our "School Names" which were in the index.

To ensure "School Names" stick around, we can reset the index before performing the melt.

In [28]:
pivoted.reset_index().head()

SAT Section                                        School Name  ...  Writing
0                        A. Philip Randolph Campus High School  ...      447
1                                  ACORN Community High School  ...      385
2                                  Abraham Lincoln High School  ...      422
3                   Academy for Careers in Television and Film  ...      444
4            Academy for College Preparation and Career Exp...  ...      393

[5 rows x 4 columns]

In [27]:
pivoted.reset_index().melt()

      SAT Section                                              value
0     School Name              A. Philip Randolph Campus High School
1     School Name                        ACORN Community High School
2     School Name                        Abraham Lincoln High School
3     School Name         Academy for Careers in Television and Film
4     School Name  Academy for College Preparation and Career Exp...
...           ...                                                ...
1495      Writing                                                487
1496      Writing                                                473
1497      Writing                                                472
1498      Writing                                                477
1499      Writing                                                433

[1500 rows x 2 columns]

Well that's weird - "School Name" has been considered a measured variable by Pandas, whereas it should be considered an identifier variable. As an identifer variable, it would not be forced into the unpivoted structure. How do we fix this?

In [29]:
pivoted.reset_index().melt(id_vars = "School Name")

                                            School Name SAT Section  value
0                 A. Philip Randolph Campus High School        Math    459
1                           ACORN Community High School        Math    379
2                           Abraham Lincoln High School        Math    441
3            Academy for Careers in Television and Film        Math    444
4     Academy for College Preparation and Career Exp...        Math    386
...                                                 ...         ...    ...
1120       World Journalism Preparatory (College Board)     Writing    487
1121                         York Early College Academy     Writing    473
1122                    Young Women's Leadership School     Writing    472
1123         Young Women's Leadership School in Astoria     Writing    477
1124          Young Women's Leadership School in Queens     Writing    433

[1125 rows x 3 columns]

That's much better - we have stacked "SAT Section" scores but kept the "School Name" as it was before the unpivot.

A final note is that when we use `melt()`, we always create a sequence of measured variables stacked in one column and their measured values. This measured value column is always called "value". If we want to change this to something more meaningful, we can use the `value_name` parameter within the `melt()` function.

In [31]:
pivoted.reset_index().melt(id_vars = "School Name", value_name = "Score")

                                            School Name SAT Section  Score
0                 A. Philip Randolph Campus High School        Math    459
1                           ACORN Community High School        Math    379
2                           Abraham Lincoln High School        Math    441
3            Academy for Careers in Television and Film        Math    444
4     Academy for College Preparation and Career Exp...        Math    386
...                                                 ...         ...    ...
1120       World Journalism Preparatory (College Board)     Writing    487
1121                         York Early College Academy     Writing    473
1122                    Young Women's Leadership School     Writing    472
1123         Young Women's Leadership School in Astoria     Writing    477
1124          Young Women's Leadership School in Queens     Writing    433

[1125 rows x 3 columns]

## What About Aggregates?

The reshaping we have done so far has just realigned the index and column axes, resulting in a reordering of values. The values themselves have not been analyzed or used to perform any calculations; all we've done is change how they are displayed. Compare our *sat* and *pivoted* tables.

In [32]:
pivoted.head(3)

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393

In [33]:
sat.head(3)

                             School Name    Borough  ...  SAT Section  Score
0  A. Philip Randolph Campus High School  Manhattan  ...         Math    459
1  A. Philip Randolph Campus High School  Manhattan  ...      Reading    453
2  A. Philip Randolph Campus High School  Manhattan  ...      Writing    447

[3 rows x 6 columns]

Now suppose we are interested in getting some insight on the overall SAT scores by borough (administrative division of New York City).

In [34]:
sat.Borough.unique()

array(['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island'],
      dtype=object)

Let's answer the following question: What is the average SAT score by borough?

Let's first try to approach this by pivoting our dataframe such that "Borough" is the index, "SAT Section" is columns, and the "Score" is values. Spoiler: this does not work.

In [35]:
## This results in a ValueError: Index contains duplicate entries, cannot reshape
# sat.pivot(index = "Borough", columns = 'SAT Section', values = 'Score')

ValueError: ignored

When we try that approach we get a ValueError due to the fact that the "Borough" column has repeat entries. In the structure that we've declared, in which the "SAT Section" column is pivoted into the column axis, the index values will not be unique - each borough has multiple schools, and thus borough names would appear multiple times.

Why is this an issue? After all, we know that indexes can have repeat values. For instance, we can easily set "Borough" as the index of our normal dataframe.

In [43]:
sat.set_index("Borough")

                                          School Name  ...  Score
Borough                                                ...
Manhattan       A. Philip Randolph Campus High School  ...    459
Manhattan       A. Philip Randolph Campus High School  ...    453
Manhattan       A. Philip Randolph Campus High School  ...    447
Brooklyn                  Abraham Lincoln High School  ...    441
Brooklyn                  Abraham Lincoln High School  ...    422
...                                               ...  ...    ...
Queens     Young Women's Leadership School in Astoria  ...    464
Queens     Young Women's Leadership School in Astoria  ...    477
Queens      Young Women's Leadership School in Queens  ...    415
Queens      Young Women's Leadership School in Queens  ...    420
Queens      Young Women's Leadership School in Queens  ...    433

[1125 rows x 5 columns]

So what's the problem? Other than being a bad practice, there's no issue with repeated index values. 

However, when it comes to the Pandas `pivot()` method, we have to be more thoughtful of how this works. In this specific case, we cannot pivot "SAT Section" into the column axis while assigning "borough" to the index because each Borough has multiple sets of "SAT Section" scores due to the fact that each Borough contains multiple schools. Pandas gets confused when you ask it to report the scores on a per-borough basis when each borough has multiple scores due to multiple schools.

On the other hand, we *CAN* pivot "SAT Section" into the column axis and assign "School Name" to the index because each school has only one set of SAT scores.

In [44]:
sat.pivot(index = "School Name", columns = 'SAT Section', values = 'Score')

SAT Section                                         Math  Reading  Writing
School Name
A. Philip Randolph Campus High School                459      453      447
ACORN Community High School                          379      395      385
Abraham Lincoln High School                          441      422      422
Academy for Careers in Television and Film           444      458      444
Academy for College Preparation and Career Expl...   386      397      393
...                                                  ...      ...      ...
World Journalism Preparatory (College Board)         484      491      487
York Early College Academy                           496      481      473
Young Women's Leadership School                      478      465      472
Young Women's Leadership School in Astoria           483      464      477
Young Women's Leadership School in Queens            415      420      433

[375 rows x 3 columns]

Another way to think about this is that pivoting data in this way requires some sort of data aggregation. For our current endeavor of borough-wise analysis, we need some way to collapse all of the SAT Scores for each section into 5 aggregates, one for each borough. Unfortunately, the `pivot()` method does not support aggregation. 

Thankfully, for aggregate reshaping, Pandas offers an alternative with the `pivot_table()` method which we will see next.

## The `pivot_table()` Method

The `pivot()` method does not support aggregation. If we want to pivot using "Borough" in the index, we need a way to condense all of the data into a Borough-level result. For this we turn to the `pivot_table()` method.
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html

For example, to see the average SAT scores per borough, we can do the following:

In [47]:
sat.pivot_table(values = 'Score', index = "Borough", columns = "SAT Section")

SAT Section          Math     Reading     Writing
Borough
Bronx          404.357143  402.520408  395.846939
Brooklyn       416.403670  410.761468  403.091743
Manhattan      455.887640  444.932584  439.314607
Queens         462.362319  443.260870  439.855072
Staten Island  486.200000  478.500000  474.300000

This is a very convenient interface - all we're doing is describing what we want the resulting pivot table to look like. 

But wait a minute, none of these values we're seeing here were in the original dataframe. Somehow, all of those values pertaining to the many schools in each individual boroughs got aggregated into a new single value for each SAT Section within each borough. What happened?

By default, the `pivot_table()` function aggregates by calculating the mean, which is specified by the `aggfunc` parameter.

In [52]:
sat.pivot_table(values = 'Score', index = "Borough", columns = "SAT Section", aggfunc = 'mean')

SAT Section          Math     Reading     Writing
Borough
Bronx          404.357143  402.520408  395.846939
Brooklyn       416.403670  410.761468  403.091743
Manhattan      455.887640  444.932584  439.314607
Queens         462.362319  443.260870  439.855072
Staten Island  486.200000  478.500000  474.300000

Let's look at another example where we want to figure out the average percentage of students tested across boroughs.

In [53]:
sat.head()

                             School Name    Borough  ...  SAT Section  Score
0  A. Philip Randolph Campus High School  Manhattan  ...         Math    459
1  A. Philip Randolph Campus High School  Manhattan  ...      Reading    453
2  A. Philip Randolph Campus High School  Manhattan  ...      Writing    447
3            Abraham Lincoln High School   Brooklyn  ...         Math    441
4            Abraham Lincoln High School   Brooklyn  ...      Reading    422

[5 rows x 6 columns]

To do this with `pivot_table()`, since there aren't multiple types of "Percent Tested" (as opposed to "SAT Section" which did have multiple types), we don't need to specify columns. We just need to specify the values.

In [54]:
sat.pivot_table(values = 'Percent Tested', index = "Borough", aggfunc = 'mean')

               Percent Tested
Borough
Bronx               58.220408
Brooklyn            62.423853
Manhattan           71.197753
Queens              69.036232
Staten Island       67.390000

This question could have also been answered by using a simple `groupby()` analysis.

In [56]:
sat.groupby('Borough').mean()["Percent Tested"]

Borough
Bronx            58.220408
Brooklyn         62.423853
Manhattan        71.197753
Queens           69.036232
Staten Island    67.390000
Name: Percent Tested, dtype: float64

A word of caution is that we're taking the average of percentages across multiple schools, completely ignoring the fact that the total student enrollment of each school can be much different from other schools. So be careful what you conclude here. If the average percent tested in the Bronx is 58%, it does not mean that 58% of students in the Bronx took the SAT. 

To illustraye this, consider a hypothetical scenario where one school has 1000 students with 10% (or 100 students) tested, while another school has 5000 students with 60% (or 3000 students) tested. 
* The average percent tested between the two schools is (10% + 60%) / 2 = 35%. 
* However, combined together, the two schools have a total of 6000 students with 3100 students tested, which is 51.6% of students overall. 

Notice how different those two values are, 35% vs. 51.6%  

The takeaway - be very carefuly when making conclusions based on average percentages.

## So What was the Percentage of Students Who Took the SAT Across All Boroughs?

In the previous lecture, we calculated the average percent of SAT-tested students across the boroughs. However, this was an average of percentages - it ignored the actual enrollment numbers at each school. Without that information, we cannot calculate the percent of tested students within each borough.

In this lecture we'll prepare our data to do just that - calculate the percent of students tested across each borough when accounting for the total enrollment.

In [57]:
sat.head()

                             School Name    Borough  ...  SAT Section  Score
0  A. Philip Randolph Campus High School  Manhattan  ...         Math    459
1  A. Philip Randolph Campus High School  Manhattan  ...      Reading    453
2  A. Philip Randolph Campus High School  Manhattan  ...      Writing    447
3            Abraham Lincoln High School   Brooklyn  ...         Math    441
4            Abraham Lincoln High School   Brooklyn  ...      Reading    422

[5 rows x 6 columns]

Let's start by calculating how many students from each school actually took the exam. This is a simple multiplication of Student Enrollment and Percent Tested

In [58]:
sat['SAT Takers'] = (sat['Percent Tested'] * sat['Student Enrollment']) / 100

In [59]:
sat.head()

                             School Name    Borough  ...  Score  SAT Takers
0  A. Philip Randolph Campus High School  Manhattan  ...    459    1001.960
1  A. Philip Randolph Campus High School  Manhattan  ...    453    1001.960
2  A. Philip Randolph Campus High School  Manhattan  ...    447    1001.960
3            Abraham Lincoln High School   Brooklyn  ...    441    1285.209
4            Abraham Lincoln High School   Brooklyn  ...    422    1285.209

[5 rows x 7 columns]

Great! Now we can simply use `pivot_table()` to determine the average number of SAT takers per borough, right?

In [60]:
sat.pivot_table(values = 'SAT Takers', index = "Borough", aggfunc = 'mean')

                SAT Takers
Borough
Bronx           322.523888
Brooklyn        498.704807
Manhattan       477.360876
Queens          747.937551
Staten Island  1271.262500

The above calculation is technically correct, in that Staten Island has the greatest average number of test takers across all of its schools. Does that mean Staten Island had the greatest percentage of test takers? Maybe, but not necessarily. 

To answer that, we need to know that total number of students enrolled within each borough. For each borough, we can divide the sum total of SAT Takers by the sum total of Student Enrollment to get the percentage of test takers.

First let's use `groupby()` to calculate the total student enrollment across each borough.

In [61]:
sat.groupby('Borough').sum()['Student Enrollment']

Borough
Bronx            159267
Brooklyn         242814
Manhattan        170370
Queens           232437
Staten Island     55380
Name: Student Enrollment, dtype: int64

Let's do the same to calculate the total number of SAT Takers across each borough.

In [62]:
sat.groupby('Borough').sum()['SAT Takers']

Borough
Bronx             94822.023
Brooklyn         163076.472
Manhattan        127455.354
Queens           154823.073
Staten Island     38137.875
Name: SAT Takers, dtype: float64

In [66]:
((sat.groupby('Borough').sum()['SAT Takers'] / sat.groupby('Borough').sum()['Student Enrollment']) * 100).nsmallest(10)

Borough
Bronx            59.536516
Queens           66.608618
Brooklyn         67.161066
Staten Island    68.865791
Manhattan        74.810914
dtype: float64

Let's compare this result to the naive average percentage above:

In [67]:
sat.groupby('Borough').mean()["Percent Tested"].nsmallest(10)

Borough
Bronx            58.220408
Brooklyn         62.423853
Staten Island    67.390000
Queens           69.036232
Manhattan        71.197753
Name: Percent Tested, dtype: float64

These percentages are somewhat close, but not identical. In fact, we see that Queens, not Brooklyn, is has the second-lowest percentage of SAT Takers.

As a final note, a completely algebraically equivalent approach to calculating the percentage of test takers for each boroughs would be to simply divide the average number of test takers at all schools in the borough by the average student enrollment at all schools in the borough.

In [83]:
sat.groupby('Borough')[['Student Enrollment', 'SAT Takers']].apply(lambda sg: sg['SAT Takers'].mean() * 100 / sg['Student Enrollment'].mean()).nsmallest(10)

Borough
Bronx            59.536516
Queens           66.608618
Brooklyn         67.161066
Staten Island    68.865791
Manhattan        74.810914
dtype: float64